<html>
<head>
  <style>
    .header-title {
      font-size: 24px;
      text-align: center;
      margin: 0 0 10px;
    }

    .header-subtitle {
      text-align: center;
      font-size: 20px;
      margin: 0 0 10px;
    }

    .remessa-description {
      text-align: center;
      font-size: 18px;
      margin: 0 0 16px;
    }

    .header-timestamp {
      font-size: 14px;
    }

    .summary-setor, .table-header, .table-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .summary-setor, .table-header {
      margin: 0 0 16px;
    }

    .summary-setor h2 {
      font-size: 20px;
      margin: 0;
    }

    .table {
      padding: 16px;
      border: 1px solid #000;
      border-radius: 8px;
      margin: 16px 0 0;
    }

    .table:last-child {
      margin: 24px 0 0;
    }

    .table h3 {
      font-size: 16px;
      margin: 0;
    }

    .table-line {
      margin: 0 10px;
      padding: 10px;
      border-bottom: 1px solid #000;
    }

    @media print {
      .container {
        page-break-before: always;
      }
    }
  </style>
</head>
<body>
  {{#each pedidos}}
    <div class="container">
      <h1 class="header-title">UJAD Camisas - Relatório de pedidos</h1>
      <h2 class="header-subtitle">Curimataú e Seridó Paraibano</h2>
      <h3 class="remessa-description">
        {{../remessaDescricao}}{{#if ../remessaInicio}}: de {{../remessaInicio}} até {{../remessaFinal}}{{/if}}
      </h3>
      <p class="header-timestamp">Relatório gerado em {{../timestamp}}</p>

      <div class="summary-setor">
        <h2>{{setor}}</h2>
        <h2>Total de pedidos: {{quantidadeSetor}}</h2>
      </div>

      {{#if quantidadeSetor}}
        {{#each quantidadesModelos}}
          <div class="table">
            <div class="table-header">
              <h3>{{modelo}}</h3>
              <h3>Total de pedidos do modelo: {{quantidadeModelo}}</h3>
            </div>

            {{#if quantidadeModelo}}
              {{#each quantidadesTamanhos}}
                {{#if quantidade}}
                  <div class="table-line">
                    <h3>{{tamanho}}</h3>
                    <h3>{{quantidade}}</h3>
                  </div>
                {{/if}}
              {{/each}}
            {{/if}}
          </div>
        {{/each}}
      {{/if}}
    </div>
  {{/each}}
</body>
</html>